# Port for the Express server to run on
PORT=3000

# MongoDB connection URL (local database or MongoDB Atlas cloud URI)
MONGODB_URL=mongodb+srv://deepakchandra:deepak@myallapps.bxi6ezq.mongodb.net/drive-fleet?appName=MyAllApps

# Secret key for JWT signing and authentication
JWT_SECRET=your_jwt_secret_key_here

# Frontend URL (CORS configuration)
FRONTEND_URL=http://localhost:5173

# PayPal Developer Sandbox keys
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_SECRET=your_paypal_client_secret_here

# Nodemailer email configuration (using Gmail SMTP server)
EMAIL_USER=deepakchandra4551@gmail.com
EMAIL_PASS=kmaf qdvn eaks yaid
